<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.mydata.manage.mapper.EnvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="envResultMap" type="org.springblade.mydata.manage.entity.Env">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="env_name" property="envName"/>
        <result column="env_prefix" property="envPrefix"/>
        <result column="global_headers" property="globalHeaders"/>
        <result column="global_params" property="globalParams"/>
    </resultMap>


    <select id="selectEnvPage" resultMap="envResultMap">
        select * from md_env where is_deleted = 0
    </select>

</mapper>
