<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.mydata.manage.mapper.TaskMapper">

    <select id="selectTaskPage">
        select * from md_task where is_deleted = 0
    </select>
    <select id="selectTaskStat" resultType="org.springblade.mydata.manage.dto.TaskStatDTO">
        select
            (select count(*) from md_task where is_deleted = 0) as taskCount,
            (select count(*) from md_task where is_deleted = 0 and task_status = ${@org.springblade.common.constant.MdConstant@TASK_STATUS_RUNNING}) as runningCount,
            (select count(*) from md_task where is_deleted = 0 and task_status = ${@org.springblade.common.constant.MdConstant@TASK_STATUS_FAILED}) as failedCount,
            (select count(*) from md_task where is_deleted = 0 and task_status = ${@org.springblade.common.constant.MdConstant@TASK_STATUS_STOPPED}) as stoppedCount
    </select>

</mapper>
