<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.mydata.manage.mapper.DataFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dataFieldResultMap" type="org.springblade.modules.mydata.manage.entity.DataField">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="data_id" property="dataId"/>
        <result column="field_code" property="fieldCode"/>
        <result column="field_name" property="fieldName"/>
        <result column="is_id" property="isId"/>
    </resultMap>


    <select id="selectDataFieldPage" resultMap="dataFieldResultMap">
        select * from md_data_field where is_deleted = 0
    </select>

</mapper>
